:root {
    --primary-color: #0082E6;
    --accent-color: #F7931E;
    --myBlack:#043448;
    --darkBlue:#005249 ;
    --myWhite:#ffffff;
}



.mytogller{
    border:2px solid var(--myWhite)!important;
}



.mycolumn:hover{

}
/* hero-section */
@media(max-width:768px){
    .payment-image{
        margin-top: calc(20px + 0.5vw);
        height: calc(350px + 1vw);
    }
}

/* index - seamless */
@media(max-width:768px){
    .phone-seamless{
        height: calc(300px + 1vw);
    }
}


/* get-onboard */
@media(max-width:768px){
.get-onboard, .get-menu{
    margin-left: 10px;
}
.learn-morebtn{
    display: inline-block;
    margin-left: 10px;
}
}

/* -------copyright-media-------- */

@media(max-width:768px){
    .copyright-media{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .copyright-media2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}





/* _____________whatsapp btn______________ */

@media(max-width:768px){
    .whats-appbtn{
        position: fixed;
        top: 80vh;
        right: 7%;
        z-index: 99999999999999;
    }
    
    .whats-appbtn i{
        font-size: calc(24px + 2vw);
        color: rgb(33, 236, 33);
    }
    
}